{# def #}

<!-- vsht logo -->
                <img
                  class="ui image vsht-logo"
                  src="{{ url_for('static', filename='images/logoVSCHT_zakl.png') }}"
                  alt="vsht logo"
                />
                