{# def #}

<!-- vsht logo -->
                <img
                  class="ui image brandlogo"
                  src="{{ url_for('static', filename='images/logoVSCHT_zakl.png') }}"
                  alt="VŠCHT logo"
                />
                