{# def #}

<!-- vsht logo -->
            <!-- <div class="ui copyright vert-div main-page__main-container__titles">
              <div class="vsht-logo div__vsht-logo main-page__div__vsht-logo"> -->
                <img
                  class="ui image vsht-logo image__vsht-logo main-page__image__vsht-logo"
                  src="{{ url_for('static', filename='images/logoVSCHT_zakl.png') }}"
                  alt="vsht logo"
                />
                
              <!-- </div>
            </div> -->