{# def #}
  

         <!-- copyright -->
           
              <p class="ui copyright">
                © 2020 VŠCHT Praha, Ústav chemické technologie restaurování
                památek - databáze restaurovaných předmětů
              </p>
          