{#def metadata, ui, record, extra_context #} {%- set title =
metadata.restorationObject.title ~ " | " ~ _("Detail") %} {% extends
"oarepo_ui/detail.html" %} {%- block page_body %}

<div class="ui segment vertical center aligned detail-page">
  <div class="ui container">
    <div class="ui reduced container">
      <div class="ui one column grid">
        <!-- header -->

        <div class="ui two column spaced grid">
          <div class="ui column">
            <div class="row">
              <h3 class="ui header">
                {{ metadata.restorationObject.title }}
              </h3>
              <a
                class="ui transparent small button"
                href="{{url_for('objects.edit', pid_value=record.id)}}"
              >
                <img
                  src="{{ url_for('static', filename='images/icon_pencil.png') }}"
                  class="ui image"
                  alt="Edit icon"
                />
              </a>
            </div>
          </div>

          <!-- right side of title -->
          <div class="ui column">
            {% if metadata.restorationObject.creationPeriod %} {% if
            metadata.restorationObject.creationPeriod.since %}{{
              metadata.restorationObject.creationPeriod.since
            }}
            {% endif %}{% if metadata.restorationObject.creationPeriod.until %}
            -
            {{ metadata.restorationObject.creationPeriod.until }} {% endif %} {%
            if metadata.restorationObject.stylePeriod %}
            <div class="ui vertical divider"></div>

            {{ metadata.restorationObject.stylePeriod.period.title }}
            {% endif %} {% endif %}
          </div>
        </div>

        <div
          id="images-carousel"
          data-photos="{{ record.links.files | tojson }}"
        ></div>

        <table class="ui unstackable table">
          <tbody>
            {% if metadata.restorationObject.stylePeriod %}
            <tr>
              <td class="collapsing">
                <p><b>Datace</b></p>
              </td>
              <td>
                <p>
                  {% if metadata.restorationObject.stylePeriod.startYear %}
                  {{ metadata.restorationObject.stylePeriod.startYear }}
                  {% endif %} {% if
                  metadata.restorationObject.stylePeriod.endYear %} -
                  {{ metadata.restorationObject.stylePeriod.endYear }}
                  {% endif %}
                  {{ metadata.restorationObject.stylePeriod.period.title }}
                </p>
              </td>
            </tr>
            {% endif %} {% if metadata.restorationObject.itemTypes %}
            <tr>
              <td>
                <p><b>Typ předmětu</b></p>
              </td>
              <td>
                <p>
                  {% for value in metadata.restorationObject.itemTypes %} {% if
                  loop.index <= 2 %}
                  {{ value.title }}
                  {% endif %} {% endfor %}
                </p>
              </td>
            </tr>
            {% endif %} {% if metadata.restorationObject.dimensions %}
            <tr>
              <td>
                <p><b> Rozměry předmětu</b></p>
              </td>
              <td>
                <div class="ui accordion">
                  <div class="title active">
                    {% for value in metadata.restorationObject.dimensions %} {%
                    if loop.index == 1 %}
                    <p>
                      {% if value.dimension.title %}
                      {{ value.dimension.title }} {{ value.value
                      }}{{ value.unit }} {% endif %} {% endif %} {% if
                      loop.index == 2 %} <i class="dropdown black icon"></i>{%
                      endif %}
                    </p>
                    {% endfor %}
                  </div>
                  <div class="content">
                    {% for value in metadata.restorationObject.dimensions %} {%
                    if loop.index >= 2 %}
                    <p>
                      {{ value.dimension.title }} {{ value.value
                      }}{{ value.unit }}
                    </p>
                    {% endif %} {% endfor %}
                  </div>
                </div>
              </td>
            </tr>
            {% endif %} {% if metadata.restorationObject.materialType %}
            <tr>
              <td>
                <p><b>Materiál</b></p>
              </td>
              <td>
                <p>
                  {{ metadata.restorationObject.materialType.title }}
                </p>
              </td>
            </tr>
            {% endif %} {% if metadata.restorationObject.fabricationTechnologies
            %}
            <tr>
              <td>
                <p><b>Technologie</b></p>
              </td>
              <td>
                {% for value in
                metadata.restorationObject.fabricationTechnologies %}
                <p>{{ value.title }}</p>
                {% endfor %}
              </td>
            </tr>
            {% endif %} {% if metadata.restorationObject.colors %}
            <tr>
              <td>
                <p><b>Barva</b></p>
              </td>
              <td>
                {% for value in metadata.restorationObject.colors %}
                <p>{{ value.title }}</p>
                {% endfor %}
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>

        <!-- desc -->
        {% if metadata.restorationObject.description %}
        <div aria-label="Popis předmětu">
          <p>{{ metadata.restorationObject.description.value }}</p>
        </div>
        {% endif %}

        <div class="ui divider"></div>

        <!-- info table-->
        {% if metadata.restorationWork.abstract %}
        <div class="ui two column divided grid">
          {% else %}
          <div class="ui one column grid">
            {% endif %}
            <div class="column">
              <table
                class="ui top aligned table"
                summary="Informace o předmětu"
              >
                <tbody>
                  {% if metadata.restorationObject.restorationRequestor %}
                  <tr>
                    <td><b>Zadavatel</b></td>
                    <td>
                      {{
                        metadata.restorationObject.restorationRequestor.title
                      }}
                    </td>
                  </tr>
                  {% endif %} {% if metadata.restorationWork.restorer or
                  metadata.restorationWork.workType %}
                  <tr>
                    <td><b>Restauroval(a)</b></td>
                    <td>
                      {% if metadata.restorationWork.restorer %}
                      {{ metadata.restorationWork.restorer }}
                      {% endif %} {% if metadata.restorationWork.workType %} ,
                      {{ metadata.restorationWork.workType.title }}
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %} {% if metadata.restorationWork.supervisors %}
                  <tr>
                    <td><b>Vedoucí práce</b></td>

                    <td>
                      {% for value in metadata.restorationWork.supervisors %}
                      <div>
                        {{ value.fullName }}
                        {{ value.institution }}
                      </div>

                      {% endfor %}
                    </td>
                  </tr>
                  {% endif %} {% if metadata.restorationWork.examinationMethods
                  %}
                  <tr>
                    <td><b>Metody průzkumu</b></td>
                    <td>
                      {% for value in
                      metadata.restorationWork.examinationMethods %}
                      {{ value.title }}
                      {% endfor %}
                    </td>
                  </tr>
                  {% endif %} {% if metadata.restorationWork.restorationMethods
                  %}
                  <tr>
                    <td><b>Metody restaurování</b></td>
                    <td>
                      {% for value in
                      metadata.restorationWork.restorationMethods %}
                      {{ value.title }}
                      {% endfor %}
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            {% if metadata.restorationWork.abstract %}
            <div class="column">
              <b>Restaurátorský zásah/zaměr</b>

              <p>
                {{ metadata.restorationWork.abstract }}
              </p>
            </div>
            {% endif %}
          </div>

          <div class="ui divider"></div>

          <!-- docs -->
          <div id="details-docs"></div>
        </div>
      </div>
    </div>
  </div>

  {%- endblock page_body %} {%- block javascript %}

  {{ super() }}

  {{ webpack["objects_img_gallery.js"] }}
  {{ webpack["carousel-styles.css"] }}

  {% endblock %}
</div>
