{#def metadata, ui, record, extra_context #} {%- set title =
metadata.restorationObject.title ~ " | " ~ _("Detail") %} {% extends
"oarepo_ui/detail.html" %} {%- block page_body %}

<div class="ui segment vertical center aligned detail-page">
  <div class="ui container">
    <div class="ui reduced container">
      <div class="ui one column grid">
        <!-- header -->

        <div class="ui two column spaced grid">
          <div class="ui column">
            <div class="row">
              <h3 class="ui header">
                {{ metadata.restorationObject.title }}
              </h3>
              <a
                class="ui transparent small button"
                href="{{url_for('objects.edit', pid_value=record.id)}}"
              >
                <img
                  src="{{ url_for('static', filename='images/icon_pencil.png') }}"
                  class="ui image"
                  alt="Edit icon"
                />
              </a>
            </div>
          </div>

          <!-- right side of title -->
          <div class="ui column">
            {% if metadata.restorationObject.creationPeriod %} {% if
            metadata.restorationObject.creationPeriod.since %}{{
              metadata.restorationObject.creationPeriod.since
            }}
            {% endif %}{% if metadata.restorationObject.creationPeriod.until %}
            -
            {{ metadata.restorationObject.creationPeriod.until }} {% endif %} {%
            if metadata.restorationObject.stylePeriod %}
            <div class="ui vertical divider"></div>

            {{ metadata.restorationObject.stylePeriod.period.title }}
            {% endif %} {% endif %}
          </div>
        </div>

        <div id="images-carousel" data-photos='{{ record.links.files | tojson }}'></div>

        <table class="ui unstackable table">
          <tbody class="">
            {% if metadata.restorationObject.stylePeriod %}
            <tr class="">
              <td class="collapsing"><b>Datace</b></td>
              <td class="">
                {% if metadata.restorationObject.stylePeriod.startYear %}
                {{ metadata.restorationObject.stylePeriod.startYear }}
                {% endif %} {% if metadata.restorationObject.stylePeriod.endYear
                %} -
                {{ metadata.restorationObject.stylePeriod.endYear }}
                {% endif %}
                {{ metadata.restorationObject.stylePeriod.period.title }}
              </td>
            </tr>
            {% endif %} {% if metadata.restorationObject.itemTypes %}
            <tr class="">
              <td class=""><b>Typ předmětu</b></td>
              <td class="">
                {% for value in metadata.restorationObject.itemTypes %} {% if
                loop.index <= 2 %}
                {{ value.title }}
                {% endif %} {% endfor %}
              </td>
            </tr>
            {% endif %} {% if metadata.restorationObject.dimensions %}
            <tr class="">
              <td class=""><b> Rozměry předmětu</b></td>
              <td class="">
                <div class="ui accordion">
                  <div class="title active">
                    {% for value in metadata.restorationObject.dimensions %} {%
                    if loop.index == 1 %} {% if value.dimension.title %}
                    {{ value.dimension.title }} {{ value.value
                    }}{{ value.unit }} {% endif %} {% endif %} {% if loop.index
                    == 2 %} <i class="dropdown black icon"></i>{% endif %} {%
                    endfor %}
                  </div>
                  <div class="content">
                   
                      {% for value in metadata.restorationObject.dimensions %}
                      {% if loop.index >= 2 %}
                      <p>
                      {{ value.dimension.title }} {{ value.value
                      }}{{ value.unit }}
                        </p>
                      {% endif %} {% endfor %}
                   
                  </div>
                </div>
              </td>
             {% endif %} {% if metadata.restorationObject.parts and
              metadata.restorationObject.parts[0].materialType and
              metadata.restorationObject.parts|length == 1 %}
            </tr>

            <tr class="">
              <td class=""><b>Materiál</b></td>
              <td class="">
                {{ metadata.restorationObject.parts[0].materialType.title }}
              </td>
            </tr>
            {% endif %} {% if metadata.restorationObject.parts and
            metadata.restorationObject.parts[0].fabricationTechnologies and
            metadata.restorationObject.parts|length ==1 %}
            <tr class="">
              <td class=""><b>Technologie</b></td>
              <td class="">
                {% for value in
                metadata.restorationObject.parts[0].fabricationTechnologies %}
                {{ value.title }}
                {% endfor %}
              </td>
            </tr>
            {% endif %} {% if metadata.restorationObject.parts and
            metadata.restorationObject.parts[0].colors and
            metadata.restorationObject.parts|length ==1 %}
            <tr class="">
              <td class=""><b>Barva</b></td>
              <td class="">
                {% for value in metadata.restorationObject.parts[0].colors %}
                {{ value.title }}
                {% endfor %}
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>

        <!-- soucasti predmetu -->
        {% if metadata.restorationObject.parts and
        metadata.restorationObject.parts|length >1 %}
        <div class="ui fluid accordion">
          {% for value in metadata.restorationObject.parts %}

          <div class="title">
            <i class="dropdown black icon"></i>
            Část {{value.name or loop.index}}
          </div>

          <div class="content">
            <div class="one column">
              <p>Hlávní: {% if value.main %} ano {% else %} ne {% endif %}</p>

              {% if value.colors %}
              <p>
                Barvy: {% for val in value.colors %}
                {{ val.title }}
                {% endfor %}
              </p>
              {% endif %} {% if value.materialType %}
              <p>
                Materiál:
                {{ value.materialType.title }}
              </p>
              {% endif %} {% if value.secondaryMaterialTypes %}
              <p>
                Vedlější typy materiálů: {% for val in
                value.secondaryMaterialTypes %}
                {{ val.title }}
                {% endfor %}
              </p>
              {% endif %} {% if value.fabricationTechnologies %}
              <p>
                Technologie: {% for val in value.fabricationTechnologies %}
                {{ val.title }}
                {% endfor %}
              </p>
              {% endif %}
            </div>
          </div>

          {% endfor %}
        </div>
        {% endif %}

        <!-- desc -->
        {% if metadata.restorationObject.description %}
        <div aria-label="Popis předmětu">
          <p>{{ metadata.restorationObject.description[0].value }}</p>
        </div>
        {% endif %}

        <div class="ui divider"></div>

        <!-- info table-->
        {% if metadata.restorationWork.abstract %}
        <div class="ui two column divided grid" aria-label="Info o předmětu">
          {% else %}
          <div class="ui one column grid" aria-label="Info o předmětu">
            {% endif %}
            <div class="column">
              <table class="ui table" summary="Informace o předmětu">
                <tbody>
                  {% if metadata.restorationObject.restorationRequestor %}
                  <tr>
                    <td><b>Zadavatel</b></td>
                    <td>
                      {{
                        metadata.restorationObject.restorationRequestor.title
                      }}
                    </td>
                  </tr>
                  {% endif %} {% if metadata.restorationWork.restorer or
                  metadata.restorationWork.workType %}
                  <tr>
                    <td><b>Restauroval(a)</b></td>
                    <td>
                      {% if metadata.restorationWork.restorer %}
                      {{ metadata.restorationWork.restorer }}
                      {% endif %} {% if metadata.restorationWork.workType %} ,
                      {{ metadata.restorationWork.workType.title }}
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %} {% if metadata.restorationWork.supervisors %}
                  <tr>
                    <td><b>Vedoucí práce</b></td>

                    <td>
                      {% for value in metadata.restorationWork.supervisors %}
                      <div>
                        {{ value.fullName }}
                        {{ value.institution }}
                      </div>

                      {% endfor %}
                    </td>
                  </tr>
                  {% endif %} {% if metadata.restorationWork.examinationMethods
                  %}
                  <tr>
                    <td><b>Metody průzkumu</b></td>
                    <td>
                      {% for value in
                      metadata.restorationWork.examinationMethods %}
                      {{ value.title }}
                      {% endfor %}
                    </td>
                  </tr>
                  {% endif %} {% if metadata.restorationWork.restorationMethods
                  %}
                  <tr>
                    <td><b>Metody restaurování</b></td>
                    <td>
                      {% for value in
                      metadata.restorationWork.restorationMethods %}
                      {{ value.title }}
                      {% endfor %}
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            {% if metadata.restorationWork.abstract %}
            <div class="column">
              <b>Restaurátorský zásah/zaměr</b>

              <p>
                {{ metadata.restorationWork.abstract }}
              </p>
            </div>
            {% endif %}
          </div>

          <div class="ui divider"></div>

          <!-- docs -->
          <div id="details__div__docs"></div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const accordionTitles = document.querySelectorAll(".title");
    const accordionContents = document.querySelectorAll(".content");

    accordionTitles.forEach((title, index) => {
      title.addEventListener("click", () => {
        title.classList.toggle("active");
        if (accordionContents[index].style.display === "flex") {
          accordionContents[index].style.display = "none";
        } else {
          accordionContents[index].style.display = "flex";
          accordionContents[index].style.flexDirection = "column";
        }
      });
    });
  </script>

  {%- endblock page_body %} {%- block javascript %}

  {{ super() }}

  {{ webpack["objects_img_gallery.js"] }}

  {% endblock %}
</div>
