{#def metadata, ui, record, extra_context #} {%- set title =
metadata.restorationObject.title ~ " | " ~ _("Detail") %} {% extends
"oarepo_ui/detail.html" %} {%- block page_body %}

<div class="ui segment vertical center aligned detail-page">
  <div class="ui container">
  <div class="ui one column grid">

          <!-- header -->
          <div class="ui two column gapped grid">
            <div class="ui gapped grid">
              <h3 class="ui header">
                {{ metadata.restorationObject.title}}
              </h3>
              <a class="ui transparent small button" href="{{url_for('objects.edit', pid_value=record.id)}}">
                <img
                  src="{{ url_for('static', filename='images/icon_pencil.png') }}"
                  class="ui image"
                  alt="Edit icon"
                />
              </d>
            </div>
        <!-- right side of title -->
            {% if metadata.restorationObject.stylePeriod %}
            <div class="ui gapped grid">
              <p class="parag">
                {% if metadata.restorationObject.stylePeriod.startYear %}{{
                  metadata.restorationObject.stylePeriod.startYear
                }}
                {% endif %}{% if metadata.restorationObject.stylePeriod.endYear %} -
                {{ metadata.restorationObject.stylePeriod.endYear }} {% endif %}
              </p>
              <div class="ui vertical divider"></div>
              <p class="parag">
                {% if metadata.restorationObject.stylePeriod.period.title %}{{
                  metadata.restorationObject.stylePeriod.period.title
                }}
                {% endif %}
              </p>
            </div>
            {% endif %}
          </div>



        </div>
  </div>
</div>
<script>
  const accordionTitles = document.querySelectorAll(".title.parag");
  const accordionContents = document.querySelectorAll(".content");

  accordionTitles.forEach((title, index) => {
    title.addEventListener("click", () => {
      title.classList.toggle("active");
      if (accordionContents[index].style.display === "block") {
        accordionContents[index].style.display = "none";
      } else {
        accordionContents[index].style.display = "block";
      }
    });
  });
</script>

{%- endblock page_body %} {%- block javascript %}

{{ super() }}

{{ webpack["objects_img_gallery.js"] }}

{% endblock %}
