.venv*
__pycache__
__pypackages__
node_modules
*.egg-info
.nrp
.idea
.pdm-build
.vscode
.env
common/old_data/data
.pdm-python
.DS_Store
.venv/bin/python
/requirements-resolved-local.txt
*.ipynb
osoby_spojene_s_pracemi_s_ustavy.csv