oarepo==12.0.12
cachetools==5.3.2
deepmerge==1.1.1
et-xmlfile==1.1.0
flask-babelex==0.9.4
frozendict==2.4.0
jinja2-simple-tags==0.5.0
jinjax==0.29
json5==0.9.14
langcodes==3.3.0
oarepo-published-service==1.0.2
oarepo-requests==1.0.4
oarepo-runtime==1.5.1
oarepo-ui==5.0.96
oarepo-vocabularies==2.0.72
openpyxl==3.1.2
python-dotenv==1.0.0
whitenoise==6.6.0