{#def metadata, ui, layout, record #} {%- set title =
metadata.restorationObject.title[0].value ~ " | " ~ _("Detail") %} {% extends
"oarepo_ui/detail.html" %} {%- block head_links %}

{{ super() }}
{{ webpack["restoration_ui_components.js"] }}
{{ webpack["restoration_ui_components.css"] }}

{% endblock %} {%- block page_body %}

<div class="horiz-div details__div__header">
  <div class="horiz-div details__div__header-left">
    <p class="details__div__header-h">
      {{ metadata.restorationObject.title[0].value }}
    </p>
    <button class="details__div__header__btn" onclick="redirectToEditPage()">
      <img
        src="{{ url_for('static', filename='images/edit-icon.png') }}"
        class="details__div__header__btn-edit"
        alt="Edit icon"
      />
    </button>
  </div>

  {% if metadata.restorationObject.stylePeriod %}
  <div class="horiz-div details__div__header-additional">
    <p class="details__div__header_p parag">
      {% if metadata.restorationObject.stylePeriod.startYear %}{{
        metadata.restorationObject.stylePeriod.startYear
      }}
      {% endif %}{% if metadata.restorationObject.stylePeriod.endYear %} -
      {{ metadata.restorationObject.stylePeriod.endYear }} {% endif %}
    </p>
    <span class="details__div__vr"></span>
    <p class="details__div__header_p parag">
      {% if metadata.restorationObject.stylePeriod.period.title %}{{
        metadata.restorationObject.stylePeriod.period.title
      }}
      {% endif %}
    </p>
  </div>
  {% endif %}
</div>

<!-- photos -->
<div id="images-carousel" data-photos=""></div>

<table class="horiz-div details__table">
  <tbody class="horiz-div details__div__details">
    {% if metadata.restorationObject.stylePeriod %}
    <tr class="vert-div details__div__details-box">
      <td class="details__div__details-box-smaller parag">Datace</td>
      <td class="details__div__details-box-smaller parag">
        <p class="parag">
          {% if metadata.restorationObject.stylePeriod.startYear %}
          {{ metadata.restorationObject.stylePeriod.startYear }} {% endif %} {%
          if metadata.restorationObject.stylePeriod.endYear %} -
          {{ metadata.restorationObject.stylePeriod.endYear }} {% endif %}{{
            metadata.restorationObject.stylePeriod.period.title
          }}
        </p>
      </td>
    </tr>
    {% endif %} {% if metadata.restorationObject.dimensions %}
    <tr class="vert-div details__div__details-box">
      <td class="details__div__details-box-smaller parag">Rozměry předmětu</td>
      <td class="details__div__details-box-smaller parag">
        {% for value in metadata.restorationObject.dimensions %} {% if
        loop.index <= 1 %}
        <p class="parag">
          {% if value.dimension.title %} {{ value.dimension.title }}
          {{ value.value }}{{ value.unit }} {% endif %}
        </p>
        {% if loop.index >= 1 %}
        <button
          class="details__div__header__btn details__div__details-box-smaller__btn-more"
          onclick="changeStyles()"
        >
          <img
            alt="ukazat vic info"
            src="{{ url_for('static', filename='images/chevron-down.png') }}"
          />
        </button>
        {% endif %} {% endif %} {% endfor %}
        <div class="vert-div details__div__details-box-smaller-hidden">
          {% for value in metadata.restorationObject.dimensions %} {% if
          loop.index >= 2 %}
          <p class="parag">
            {{ value.dimension.title }} {{ value.value }}{{ value.unit }}
          </p>
          {% endif %} {% endfor %}
          <button
            class="details__div__header__btn details__div__details-box-smaller__btn-less"
            onclick="changeStyles()"
          >
            <img
              src="{{ url_for('static', filename='images/up-icon.png') }}"
              alt="ukazat min info"
            />
          </button>
        </div>
      </td>
    </tr>
    {% endif %} {% if metadata.restorationObject.itemTypes %}
    <tr class="vert-div details__div__details-box">
      <td class="details__div__details-box-smaller parag">Typ předmětu</td>
      <td class="details__div__details-box-smaller parag">
        {% for value in metadata.restorationObject.itemTypes %} {% if loop.index
        <= 2 %}
        <p class="parag">{{ value.title }}</p>
        {% endif %} {% endfor %}
      </td>
    </tr>
    {% endif %} {% if metadata.restorationObject.materialType %}
    <tr class="vert-div details__div__details-box">
      <td class="details__div__details-box-smaller parag">Materiál</td>
      <td class="details__div__details-box-smaller parag">!!</td>
    </tr>
    {% endif %}
    <tr class="vert-div details__div__details-box">
      <td class="details__div__details-box-smaller parag">Technologie</td>
      <td class="details__div__details-box-smaller parag">!!</td>
    </tr>
    <tr class="vert-div details__div__details-box">
      <td class="details__div__details-box-smaller parag">Barva</td>
      <td class="details__div__details-box-smaller parag">!!</td>
    </tr>
  </tbody>
</table>

<!-- desc -->
{% if metadata.restorationObject.description %}
<div class="details__div__desc" aria-label="Popis předmětu">
  <p class="parag">{{ metadata.restorationObject.description[0].value }}</p>
</div>
{% endif %}
<div class="vr-huge-horiz"></div>
<!-- info -->

<div class="horiz-div details__div__info" aria-label="Info o předmětu">
  <div class="vert-div details__div__info-left">
    <table summary="Informace o předmětu">
      <tbody>
        {% if metadata.restorationObject.restorationRequestor %}
        <tr class="details__div__info-left__box">
          <td class="parag">Zadavatel</td>
          <td class="parag">
            {{ metadata.restorationObject.restorationRequestor.title }}
          </td>
        </tr>
        {% endif %} {% if metadata.restorationWork.restorer or
        metadata.restorationWork.workType %}
        <tr class="details__div__info-left__box">
          <td class="parag">Restauroval(a)</td>
          <td class="parag">
            {% if metadata.restorationWork.restorer %}
            {{ metadata.restorationWork.restorer }}
            {% endif %} {% if metadata.restorationWork.workType %} ,
            {{ metadata.restorationWork.workType.title }}
            {% endif %}
          </td>
        </tr>
        {% endif %} {% if metadata.restorationWork.supervisors %}
        <tr class="details__div__info-left__box">
          <td class="parag">Vedoucí práce</td>

          <td class="parag">
            {% for value in metadata.restorationWork.supervisors %}
            {{ value.fullName }}
            {{ value.institution }}
            {% endfor %}
          </td>
        </tr>
        {% endif %} {% if metadata.restorationWork.examinationMethods %}
        <tr class="details__div__info-left__box">
          <td class="parag">Metody průzkumu</td>
          <td class="parag">
            {% for value in metadata.restorationWork.examinationMethods %}
            {{ value.title }}
            {% endfor %}
          </td>
        </tr>
        {% endif %} {% if metadata.restorationWork.restorationMethods %}
        <tr class="details__div__info-left__box">
          <td class="parag">Metody restaurování</td>
          <td class="parag">
            {% for value in metadata.restorationWork.restorationMethods %}
            {{ value.title }}
            {% endfor %}
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  {% if metadata.restorationWork.abstract %}
  <div class="vr-huge-vert"></div>
  <div class="vert-div details__div__info-right">
    <div>
      <p class="details__div__info-right parag">Restaurátorský zásah/zaměr</p>
    </div>

    <div class="details__div__info-right__text">
      <p class="parag">
        {{ metadata.restorationWork.abstract[0].value }}
      </p>
    </div>
  </div>
  {% endif %}
</div>
<div class="vr-huge-horiz"></div>

<!-- docs -->
<div class="horiz-div details__div__docs">
  <p class="parag">Dokumenty</p>
  <div class="horiz-div details__div__docs-files">
    <div class="horiz-div details__div__docs__item">
      <img
        class="details__div__docs-img"
        src="{{ url_for('static', filename='images/file-icon.png') }}"
        alt="file icon"
      />
      <p class="parag">
        <a href="">sp5_balikova_anticke sklo.pdf (!!!)</a>
      </p>
    </div>
    <div class="horiz-div details__div__docs__item">
      <img
        class="details__div__docs-img"
        src="{{ url_for('static', filename='images/file-icon.png') }}"
        alt="file icon"
      />
      <p class="parag">
        <a href="">sp5_rohanova_anticke sklo.pdf (!!!)</a>
      </p>
    </div>
  </div>
</div>

<script>
  function changeStyles() {
    let buttonElement = document.querySelector(
      ".details__div__details-box-smaller-hidden "
    );
    let btnMore = document.querySelector(
      ".details__div__details-box-smaller__btn-more"
    );
    let btnLess = document.querySelector(
      ".details__div__details-box-smaller__btn-less"
    );

    if (buttonElement) {
      if (buttonElement.style.display == "initial") {
        buttonElement.style.display = "none";
        btnMore.style.display = "initial";
        btnLess.style.display = "none";

        let trElements = document.querySelectorAll(
          ".details__div__details-box"
        );
        let maxHeight = 0;

        trElements.forEach((tr) => {
          const trHeight = tr.clientHeight;
          if (trHeight > maxHeight) {
            maxHeight = trHeight;
          }
        });

        trElements.forEach((tr) => {
          tr.style.height = `${maxHeight}px`;
        });
      } else {
        buttonElement.style.display = "initial";
        btnMore.style.display = "none";
        btnLess.style.display = "initial";

        let maxHeight = 0;
        trElements.forEach((tr) => {
          const trHeight = tr.clientHeight;
          if (trHeight > maxHeight) {
            maxHeight = trHeight;
          }
        });

        trElements.forEach((tr) => {
          tr.style.height = `${maxHeight}px`;
        });
      }
    }
  }

  const trElements = document.querySelectorAll(".details__div__details-box");

  let maxHeight = 0;

  trElements.forEach((tr) => {
    const trHeight = tr.clientHeight;
    if (trHeight > maxHeight) {
      maxHeight = trHeight;
    }
  });

  trElements.forEach((tr) => {
    tr.style.minHeight = `${maxHeight}px`;
  });

  const leftDivHeight = document.querySelector(
    ".details__div__info-left"
  ).offsetHeight;

  const rightDivHeight = document.querySelector(
    ".details__div__info-right"
  ).offsetHeight;

  const divMaxHeight = Math.max(leftDivHeight, rightDivHeight);

  document.querySelector(".vr-huge-vert").style.height = `${divMaxHeight}px`;

  function redirectToEditPage() {
    window.location.href = window.location.href + "/edit";
  }
</script>

{%- endblock page_body %} {%- block javascript %}

{{ super() }}

{{ webpack["restoration_ui_img_gallery.js"] }}

{{ webpack["restoration_ui_img_modal.js"] }}

{% endblock %}
