{#def metadata, ui, layout, record #}
{%- set title = metadata.restorationObject.title[0].value ~ " | " ~ _("Detail") %}
{% extends "oarepo_ui/detail.html" %}

{%- block head_links %}

{{ super() }}
{{ webpack['restoration_ui_components.js']}}
{{ webpack['restoration_ui_components.css']}}

{% endblock %}

{%- block page_body %}
{{ metadata.restorationObject }}
{{ metadata.restorationWork }}
<Field label={ _('metadata/restorationObject/title.value') }>
{{metadata.restorationObject.title[0].value}} 
</Field>


<div class="horiz-div details__div__header">
    <p class="details__div__header-h">{{metadata.restorationObject.title[0].value}} </p>
    <div class="horiz-div details__div__header-additional">
      <p class="details__div__header_p parag">1-200 h.l.</p>
      <span class="details__div__vr"></span>
      <p class="details__div__header_p parag">rimska antika</p>
    </div>
  </div>
  <!-- photos -->
  <div class="horiz-div">
    <button
      class="btn details_div_images-container__btn-left"
      aria-label="Previous Photo"
    >
      <img
        class="details_div_images-container__btn-img"
        alt="left button"
        src="../../../../static/images/arrow-icon-left.png"
      />
    </button>
    <div class="details_div_images-container">
      <div class="horiz-div details_div_images">
        <div class="predmety__card__img-container details">
          <img
            src="../../../../static/images/ItemLandingPage.jpg"
            alt="foto predmetu"
          />
        </div>
        <div class="predmety__card__img-container details">
          <img
            src="../../../../static/images/ItemLandingPage 2.jpg"
            alt="foto predmetu"
          />
        </div>
        <div class="predmety__card__img-container details">
          <img
            src="../../../../static/images/ItemLandingPage 2.jpg"
            alt="foto predmetu"
          />
        </div>
        <div class="predmety__card__img-container details">
          <img
            src="../../../../static/images/ItemLandingPage 2.jpg"
            alt="foto predmetu"
          />
        </div>
        <div class="predmety__card__img-container details">
          <img
            src="../../../../static/images/ItemLandingPage 3.jpg"
            alt="foto predmetu"
          />
        </div>
      </div>
    </div>
    <button
      class="btn details_div_images-container__btn-right"
      aria-label="Next Photos"
    >
      <img
        class="details_div_images-container__btn-img"
        alt="right button"
        src="../../../../static/images/arrow-icon-right.png"
      />
    </button>
  </div>

  <!-- details -->
  <div class="horiz-div" aria-label="Detaily predmetu">
    <span class="vr-huge-vert-mobil"></span>
    <div class="horiz-div details__div__details">
      <span class="vr-small"></span>
      <div class="vert-div details__div__details-box">
        <div class="details__div__details-box-smaller">
          <p class="parag">Dotace</p>
        </div>
        <div class="details__div__details-box-smaller">
          <p class="parag">1-200 n.l. {{ metadata.restorationObject.stylePeriod.period.title }}</p>
        </div>
      </div>
      <span class="vr-small"></span>
      <div class="vert-div details__div__details-box">
        <div class="details__div__details-box-smaller">
          <p class="parag">Rozmery</p>
        </div>
        <div class="details__div__details-box-smaller">
        {% for value in metadata.restorationObject.dimensions %}
        <p class="parag">{{ value.dimension.title }} {{ value.value }}{{ value.unit }}</p>
            
            {% endfor %}
          
        </div>
      </div>
      <span class="vr-small"></span>
      <div class="vert-div details__div__details-box">
        <div class="details__div__details-box-smaller">
          <p class="parag">Typ predmetu</p>
        </div>
        <div class="details__div__details-box-smaller">
            {% for value in metadata.restorationObject.itemTypes %}
        <p class="parag">{{ value.title }} </p>
            
            {% endfor %}
        </div>
      </div>
      <span class="vr-small"></span>
      <div class="vert-div details__div__details-box">
        <div class="details__div__details-box-smaller">
          <p class="parag">Material</p>
        </div>
        <div class="details__div__details-box-smaller">
          <p class="parag">sodno-vapenate sklo</p>
        </div>
      </div>
      <span class="vr-small"></span>
      <div class="vert-div details__div__details-box">
        <div class="details__div__details-box-smaller">
          <p class="parag">Technologie</p>
        </div>
        <div class="details__div__details-box-smaller">
          <p class="parag">foukane ryte sklo</p>
        </div>
      </div>
      <span class="vr-small"></span>
      <div class="vert-div details__div__details-box">
        <div class="details__div__details-box-smaller">
          <p class="parag">Barva</p>
        </div>
        <div class="details__div__details-box-smaller">
          <p class="parag">bezbarve sklo</p>
        </div>
      </div>
      <span class="vr-small"></span>
    </div>
  </div>

  <!-- desc -->
  <div class="details__div__desc" aria-label="Popis predmetu">
  
    <p class="parag">{{ metadata.restorationObject.description[0].value }}</p>
  </div>
  <span class="vr-huge-horiz"></span>
  <!-- info -->
  <div
    class="horiz-div details__div__info"
    aria-label="Info o predmetu"
  >
    <div class="vert-div details__div__info-left">
      <table summary="Info o predmetu">
        <tbody>
          <tr>
            <td class="parag">Zadavatel</td>
            <td class="parag">
              {{ metadata.restorationObject.restorationRequestor.title }}
            </td>
          </tr>
          <tr>
            <td class="parag">Restaurovala</td>
            <td class="parag">
              {{ metadata.restorationWork.restorer }}, {{ metadata.restorationWork.workType.title}}
            </td>
          </tr>
          <tr>
            <td class="parag">Vedouci prace</td>
            
            <td class="parag">
           {% for value in metadata.restorationWork.supervisors %}
              {{ value.fullName }}
              {{ value.institution }}
              {% endfor %}
              
            </td>
            
          </tr>
          <tr>
            <td class="parag">Metody pruzkumu</td>
            <td class="parag">
            {% for value in metadata.restorationWork.examinationMethods %}
            {{ value.title }}
            {% endfor %}
            </td>
          </tr>
          <tr>
            <td class="parag">Metody restaurovani</td>
            <td class="parag">
            {% for value in metadata.restorationWork.restorationMethods %}
            {{ value.title }}
            {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <span class="vr-huge-vert"></span>
    <div class="vert-div details__div__info-right">
      <p class="details__div__info-right parag">
        Restauratorsky zasah/zamer
      </p>
      <div class="details__div__info-right__text">
        <p class="parag">
          {{ metadata.restorationWork.abstract[0].value}}
        </p>
      </div>
    </div>
  </div>
  <span class="vr-huge-horiz"></span>
  <!-- docs -->
  <div class="horiz-div details__div__docs">
    <p class=" parag">Dokumenty</p>
    <div class="horiz-div details__div__docs-files">
      <div class="horiz-div">
        <img
          class="details__div__docs-img"
          src="../../../../static/images/file-icon.png"
          alt="file icon"
        />
        <p class="parag">
          <a href="">sp5_balikova_anticke sklo.pdf</a>
        </p>
      </div>
      <div class="horiz-div">
        <img
          class="details__div__docs-img"
          src="../../../../static/images/file-icon.png"
          alt="file icon"
        />
        <p class="parag">
          <a href="">sp5_rohanova_anticke sklo.pdf</a>
        </p>
      </div>
    </div>
  </div>

{%- endblock page_body %}