{#def record, form_config, data, extra_context, ui_links #}


{% extends "oarepo_ui/form.html" %}

{%- block javascript %}
    {{ super() }}
    {{ webpack['restoration_ui_deposit_edit.js'] }}
{{ webpack["restoration_ui_search_aggs.js"] }}
{%- endblock %}

{%- block topMenu %}
{%- include "restoration_ui/Sidebar.html.jinja" %}
{%- endblock topMenu %}

