{#def metadata, ui, layout, record #}
{{ record }}
{{metadata}}

<!-- delete -->
{%- extends config.BASE_TEMPLATE %}

 {%- block topMenu %}
    <nav class="main-page__menu" aria-label="Main Menu">
      <button
            class="btn predmety__input-search__searchbar-burger"
            alt="Toggle Filter Menu"
          >
            <img
              rel="icon"
              src="{{ url_for('static', filename='images/menu-icon.png') }}"
              alt="burger filter button"
            />
          </button>
        <div class="btn main-page__menu__btn"><a href="/">
          <img
            class="details__div__docs-img"
            src="{{ url_for('static', filename='images/arrow-left.png') }}"
            alt="arrow back"
          />RESTAUROVÁNÍ VŠCHT</a>
        </div>
        
      
     
       
      {%- if config.ACCOUNTS and current_user.is_authenticated %}
      <div class="ui dropdown">
        <div class="text">
              <button class="btn predmety_page menu__btn" >
              <img
                class="menu__profil-img"
                alt="user icon"
                src="{{ url_for('static', filename='images/user-icon.png') }}"
              />{{ current_user.email }}<img
                class="menu__profil-img"
                alt="dropdown icon"
                src="{{ url_for('static', filename='images/chevron-down-white.png') }}"
              />
            </button>
        </div>
       
        <div class="menu">
              <div class="item"><a class="item" href="{{url_for('invenio_userprofiles.profile')}}">Account</a></div>
              <div class="item">
                <a class="item" href="{{url_for('invenio_oauthclient_settings.index')}}">Nastavení</a >
              </div>
              <div class="item">
                <a class="item" href="{{url_for('security.logout')}}">Odhlašení</a>
              </div>
         
         </div>
      </div>
     
      {%- else %}
        <div class="btn main-page__menu__btn main-page__menu__btn-second">
            <a
              class="btn main-page__menu__btn"
              href="{{ url_for('security.login') }}"
              >Přihlásit se</a
            >
        </div>

       {%- endif %}
   </nav>

      <div class="overlay"></div>
     
      <nav class="ui sidebar  vertical menu ">
        <button class="sidebar__btn-close"> <img src="{{ url_for('static', filename='images/close-icon.png') }}"></button>
        <div class="item">
          <div class="ui button main-page__menu__btn-sb main-page__menu__btn-sb-rest"><a href="/">
            <img class="details__div__docs-img" src="{{ url_for('static', filename='images/arrow-back-black.png') }}" alt="arrow back" />
            RESTAUROVÁNÍ VŠCHT</a>
          </div>
        </div>
       <div class="item">
        {%- if config.ACCOUNTS and current_user.is_authenticated %}

            
        
       
          
            <div class="item" >
              <button class="ui button btn main-page__menu__btn-sb" >
                <img class="menu__profil-img" alt="user icon" src="{{ url_for('static', filename='images/user-icon-darker.png') }}" />
                {{current_user.email}}
               
              </button>
            </div>


          <div class="menu div__account-links">
            <div class="item"><a class="item" href="{{url_for('invenio_userprofiles.profile')}}">Account</a></div>
            <div class="item">
              <a class="item" href="{{url_for('invenio_oauthclient_settings.index')}}">Nastavení</a >
            </div>
            <div class="item">
              <a class="item" href="{{url_for('security.logout')}}">Odhlašení</a>
            </div>
           </div>
        


           <div id="aggsdiv2"></div>



        {%- else %}
       
        <div class="ui button main-page__menu__btn-sb main-page__menu__btn-sb-rest">
          <a
             class="btn"
             href="{{ url_for('security.login') }}"
             >Přihlásit se</a
           >
         </div>
        
         {%- endif %}
          </div>
        </nav>
      
    {%- endblock topMenu %}


 

    {%- block javascript %}

{{ super() }}

{{ webpack["restoration_ui_search_aggs.js"] }}

{% endblock %}