{#def search_app_config #} 
{%- extends config.BASE_TEMPLATE %} 
{%- set title =
_("Search results") ~ " | " ~ _("restoration-ui") %} 

{%- block javascript %}
{{ super() }} 
{{ webpack["restoration_ui_components.js"] }}
{{ webpack["restoration_ui_components.css"] }}
{{ webpack["restoration_ui_search.js"] }}

{{ webpack["restoration_ui_search_aggs.js"] }}
{%- endblock javascript%} 



{%- block topMenu %}
<nav class="main-page__menu" aria-label="Main Menu">
  <button
    class="btn predmety__input-search__searchbar-burger"
    alt="Toggle Filter Menu"
  >
    <img
      rel="icon"
      src="{{ url_for('static', filename='images/menu-icon.png') }}"
      alt="burger filter button"
    />
  </button>
  <div class="btn main-page__menu__btn">
    <a href="/">
      <img
        class="details__div__docs-img"
        src="{{ url_for('static', filename='images/arrow-left.png') }}"
        alt="arrow back"
      />RESTAUROVÁNÍ VŠCHT</a
    >
  </div>

  {%- if config.ACCOUNTS and current_user.is_authenticated %}
  <div class="ui dropdown">
    <div class="text">
      <button class="btn predmety_page menu__btn">
        <img
          class="menu__profil-img"
          alt="user icon"
          src="{{ url_for('static', filename='images/user-icon.png') }}"
        />{{ current_user.email
        }}<img
          class="menu__profil-img"
          alt="dropdown icon"
          src="{{ url_for('static', filename='images/chevron-down-white.png') }}"
        />
      </button>
    </div>

    <div class="menu">
      <div class="item">
        <a class="item" href="{{ url_for('invenio_userprofiles.profile') }}"
          >Account</a
        >
      </div>
      <div class="item">
        <a
          class="item"
          href="{{ url_for('invenio_oauthclient_settings.index') }}"
          >Nastavení</a
        >
      </div>
      <div class="item">
        <a class="item" href="{{ url_for('security.logout') }}">Odhlašení</a>
      </div>
    </div>
  </div>

  {%- else %}
  <div class="btn main-page__menu__btn main-page__menu__btn-second">
    <a class="btn main-page__menu__btn" href="{{ url_for('security.login') }}"
      >Přihlásit se</a
    >
  </div>

  {%- endif %}
</nav>

<div class="overlay"></div>

<nav class="ui sidebar vertical menu">
  <button class="sidebar__btn-close">
    <img src="{{ url_for('static', filename='images/close-icon.png') }}" />
  </button>
  <div class="item">
    <div class="ui button main-page__menu__btn-sb main-page__menu__btn-sb-rest">
      <a href="/">
        <img
          class="details__div__docs-img"
          src="{{ url_for('static', filename='images/arrow-back-black.png') }}"
          alt="arrow back"
        />
        RESTAUROVÁNÍ VŠCHT</a
      >
    </div>
  </div>
  <div class="item">
    {%- if config.ACCOUNTS and current_user.is_authenticated %}

    <div class="item">
      <button class="ui button btn main-page__menu__btn-sb">
        <img
          class="menu__profil-img"
          alt="user icon"
          src="{{ url_for('static', filename='images/user-icon-darker.png') }}"
        />
        {{ current_user.email }}
      </button>
    </div>

    <div class="menu div__account-links">
      <div class="item">
        <a class="item" href="{{ url_for('invenio_userprofiles.profile') }}"
          >Account</a
        >
      </div>
      <div class="item">
        <a
          class="item"
          href="{{ url_for('invenio_oauthclient_settings.index') }}"
          >Nastavení</a
        >
      </div>
      <div class="item">
        <a class="item" href="{{ url_for('security.logout') }}">Odhlašení</a>
      </div>
    </div>

    <div class="vert-div main-page__div__btn">
      <div class="horiz-div">
        <form
          action="{{ url_for('restoration-ui.search') }}"
          role="search"
          class="vert-div main-page__input"
        >
          <input
            type="text"
            name="q"
            class="main-page__input-search parag"
            placeholder="{{ _('Vyhledat předmět ...') }}"
          />
          <button
            type="submit"
            class="main-page__btn__addPredmety parag"
            aria-label="Tlacitko prejit na predmety"
          >
            PROCHÁZET PŘEDMĚTY
          </button>
        </form>
      </div>
    </div>



    <a
      class="predmety__aside__btn"
      href="{{ url_for('restoration-ui.create') }}"
      aria-label="Tlacitko dodat novy predmet"
    >
      Nový předmět
      <img src="/static/images/plus-square.png" alt="add new icon" />
    </a>

    <div>
       
  <form
  action="{{ url_for('restoration-ui.search') }}"
  role="search"
  class="vert-div main-page__input"
>
{% for value in search_app_config.aggs %} 



<p class="parag"> {{value.field}}</p>
<div>
    {% for value in search_app_config.aggs %} 
            <input
                type="checkbox"
                name="f"
            />
            <button
                type="submit"
                class="parag"
                aria-label="filter"
            >
            {{value.title}}
            </button>


    {% endfor %}
</div>

 

  {% endfor %}
</form>
    </div>

    {%- else %}

    <div class="ui button main-page__menu__btn-sb main-page__menu__btn-sb-rest">
      <a class="btn" href="{{ url_for('security.login') }}">Přihlásit se</a>
    </div>

    {%- endif %}
  </div>
</nav>

{%- endblock topMenu %}

 




{%- block page_body_content %} 
{%- block bg %} 
{%- block page_body %}

 <div data-invenio-search-config= '{{ search_app_config | tojson }}' ></div>

{%- endblock page_body %} {%- endblock bg %} 
{%- endblock page_body_content %}

