{%- extends "invenio_theme/frontpage.html" %} {% block head_links %} {% endblock
  head_links %} {% block body %}
  
  <main class="pusher">
    <div class="main-page__half--background">
    <div class="horiz-div main-page__main-container">
      <div class="vert-div main-page__main-container__content">
        <!-- page title -->
  
        <div class="horiz-div main-page__title">
          <div>
            <img
              src="{{ url_for('static', filename='images/bg-arrows.png') }}"
              alt="decoration image"
              class="main-page__title__img"
            />
          </div>
          <div class="vert-div main-page__main-container__content">
            <!-- vsht logo -->
            <div class="vert-div main-page__main-container__titles">
              <div class="vsht-logo div__vsht-logo main-page__div__vsht-logo">
                <img
                  class="vsht-logo image__vsht-logo main-page__image__vsht-logo"
                  src="{{ url_for('static', filename='images/logo_VSHT.png') }}"
                  alt="vsht logo"
                />
                <p class="vsht-logo text__vsht-logo main-page__text__vsht-logo">
                  VYSOKÁ ŠKOLA<br />
                  CHEMICKO-TECHNOLOGICKÁ <br />
                  V PRAZE
                </p>
              </div>
  
              <p>DATABÁZE RESTAUROVANÝCH PŘEDMĚTŮ <br />VŠCHT Praha</p>
            </div>
  
            <!-- actions-buttons -->
            <div class="vert-div main-page__div__btn">
              <div class="horiz-div">
                <form
                  action="{{ url_for('objects.search') }}"
                  role="search"
                  class="vert-div main-page__input"
                >
                  <input
                    type="text"
                    name="q"
                    class="main-page__input-search parag"
                    placeholder="{{ _('Vyhledat předmět ...') }}"
                  />
                  <button
                    type="submit"
                    class="main-page__btn__addPredmety parag"
                    aria-label="Tlacitko prejit na predmety"
                  >
                    PROCHÁZET PŘEDMĚTY
                  </button>
                </form>
              </div>
            </div>
  
            <!-- copyright -->
            <div>
              <p class="main-page__text__copyright">
                © 2020 VŠCHT Praha, Ústav chemické technologie restaurování
                památek - databáze restaurovaných předmětů
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- main image -->
      <div class="vert-div main-page__main-container__image">
        <div class="main-page__div__main-image">
          <img
            class="main-page__main-image"
            src="{{ url_for('static', filename='images/mainPageImg.png') }}"
            alt="decoration image"
          />
        </div>
      </div>
    </div>
   
    <!-- <div class="main-page__half--background"> -->
      <div class="main-page__half--background bg-top" aria-hidden="true"></div>
      <div class="main-page__half--background bg-bottom" aria-hidden="true"></div>
    </div>
  </main>
  
  {%- block javascript %} {% include config.THEME_JAVASCRIPT_TEMPLATE %} {%-
  endblock javascript %} {% endblock %}